<section class="about" id="about">

    <h1 class="heading"><span>About </span>Us</h1>

    <div class="row">

        <div class="image">
            <img src="./images/take-care-of-good.svg" alt="about-us">
        </div>

        <div class="content">
            <h3> We Take Care of Your Good</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, cumque, dicta alias perspiciatis ea
                vero repellendus culpa ut debitis nisi quam commodi. Vitae porro adipisci facilis ipsam omnis harum
                soluta!</p>

            <a href="#" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
        </div>
    </div>
</section>