<nav class="nav">

    <i class="fas fa-hamburger navOpenBtn"></i>

    <span class="logo">
        <i class="fas fa-hospital"></i>
        <a href="#"> CliniCare</a>
    </span>

    <ul class="nav-links">
        <i class="fas fa-plus-circle navCloseBtn"></i>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>