<nav class="nav">

    <i class="fas fa-hamburger navOpenBtn"></i>

    <span class="logo">
        <i class="fas fa-hospital"></i>
        <a href="#"> CliniCare</a>
    </span>

    <ul class="nav-links">
        <i class="fas fa-plus-circle navCloseBtn"></i>
        <li><a href="#">Home</a></li>
        <li><a href="/clinics" target="_blank">Clinics</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="/clinicadd" target="_blank">Add Clinic</a></li>
    </ul>
</nav>