<section class="review" id="review">
        
    <h1 class="heading">Users <span>Review</span></h1>


    <div class="swiper slide-container">

        <div class="slide-content">

            <div class="swiper-wrapper card-wrapper box-container">

                <div class="swiper-slide box">
                    <!-- <img src="./images/4990224.jpg" alt=""> -->
    
                    <h3> Rajdeep Mallick </h3>
    
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil
                        aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente
                        minus voluptatem, reiciendis consequuntur optio dolorem!
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <img src="./images/4990224.jpg" alt=""> -->
    
                    <h3> Rajdeep Mallick </h3>
    
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil
                        aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente
                        minus voluptatem, reiciendis consequuntur optio dolorem!</div>
                </div>


                <div class="swiper-slide box">
                    <!-- <img src="./images/4990224.jpg" alt=""> -->
    
                    <h3> Rajdeep Mallick </h3>
    
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil
                        aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente
                        minus voluptatem, reiciendis consequuntur optio dolorem!
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <img src="./images/4990224.jpg" alt=""> -->
    
                    <h3> Rajdeep Mallick </h3>
    
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil
                        aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente
                        minus voluptatem, reiciendis consequuntur optio dolorem!
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <img src="./images/4990224.jpg" alt=""> -->
    
                    <h3> Rajdeep Mallick </h3>
    
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil
                        aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente
                        minus voluptatem, reiciendis consequuntur optio dolorem!
                    </div>
                </div>

            </div>

            <div class="swiper-button-next swiper-button"></div>
            <div class="swiper-button-prev swiper-button"></div>
            <div class="swiper-pagination swiper-pg-button"></div>

        </div>

    </div>
    
</section>