<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinics | CliniCare</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/clinics.css">
</head>

<body>
    <!-- header section starts -->
    <%- include('../partials/navbar.ejs') -%>

    <!-- ********** NAVBAR ENDS **********-->


    <!-- ------***** CLINICS SECTION *****------ -->
    <section class="clinics">

        <div class="clinic">
            <h4>ABC Pharmacy</h4>
            <h5>Doctor : S.B.Banerjee</h5>
            <p><i class="fas fa-phone"></i> Phone Number : +91 7029422038</p>
            <p><i class="fas fa-home"></i> Address : Salt Lake, Kolkata</p>
            <p><i class="fas fa-envelope-open"></i> PIN - 700 098</p>
        </div>


        <div class="clinic">
            <h4>ABC Pharmacy</h4>
            <h5>Doctor : S.B.Banerjee</h5>
            <p><i class="fas fa-phone"></i> Phone Number : +91 7029422038</p>
            <p><i class="fas fa-home"></i> Address : Salt Lake, Kolkata</p>
            <p><i class="fas fa-envelope-open"></i> PIN - 700 098</p>
        </div>


        <div class="clinic">
            <h4>ABC Pharmacy</h4>
            <h5>Doctor : S.B.Banerjee</h5>
            <p><i class="fas fa-phone"></i> Phone Number : +91 7029422038</p>
            <p><i class="fas fa-home"></i> Address : Salt Lake, Kolkata</p>
            <p><i class="fas fa-envelope-open"></i> PIN - 700 098</p>
        </div>

        <div class="clinic">
            <h4>ABC Pharmacy</h4>
            <h5>Doctor : S.B.Banerjee</h5>
            <p><i class="fas fa-phone"></i> Phone Number : +91 7029422038</p>
            <p><i class="fas fa-home"></i> Address : Salt Lake, Kolkata</p>
            <p><i class="fas fa-envelope-open"></i> PIN - 700 098</p>
        </div>

        <div class="clinic">
            <h4>ABC Pharmacy</h4>
            <h5>Doctor : S.B.Banerjee</h5>
            <p><i class="fas fa-phone"></i> Phone Number : +91 7029422038</p>
            <p><i class="fas fa-home"></i> Address : Salt Lake, Kolkata</p>
            <p><i class="fas fa-envelope-open"></i> PIN - 700 098</p>
        </div>

        <div class="clinic">
            <h4>ABC Pharmacy</h4>
            <h5>Doctor : S.B.Banerjee</h5>
            <p><i class="fas fa-phone"></i> Phone Number : +91 7029422038</p>
            <p><i class="fas fa-home"></i> Address : Salt Lake, Kolkata</p>
            <p><i class="fas fa-envelope-open"></i> PIN - 700 098</p>
        </div>

        <div class="add-button">
            <img src="./images/add files.svg" alt="">
            <a class="btn" href="/clinicadd" type="submit" target="_blank">Add Clinic <span><i class="fas fa-angle-double-right"></i></span></a>
        </div>

    </section>

</body>

</html>