<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Clinic</title>

    <link rel="shortcut icon" type="image/xicon" href="./images/logo-modified.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Oxygen&family=Prompt:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- Some specific CSS for stylings -->
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/button.css">
    <link rel="stylesheet" href="./css/clinicadd.css">

</head>

<body>
    <!-- header section starts -->
    <%- include('../partials/navbar.ejs') -%>

    <!-- Header section ends -->

    <section class="book" id="book">

        <h3 class="heading"> <span> <i class="fas fa-briefcase-medical"></i> Add</span> Clinic</h3>

        <div class="row">

            <div class="image">
                <img src="./images/add files.svg" alt="">
            </div>

            <form action="/clinicadd" method="POST">

                <h3 class="heading close-day-heading">Enter Cli<span>nic Details</span></h3>

                <input type="text" name="clinic_name" placeholder="Enter Clinic's Name" class="box">

                <input type="text" name="doctor_name" placeholder="Enter Doctor's Name" class="box">

                <input type="text" name="phone_number" placeholder="Enter Phone Number" class="box">

                <input type="text" name="address" placeholder="Enter Address" class="box">

                <h4 class="heading close-day-heading">Closed <span>On</span></h4>

                <div class="days">

                    <input type="checkbox" id="sunday" name="days" value="Sunday">
                    <label for="sunday">Sunday</label>

                    <input type="checkbox" id="monday" name="days" value="Monday">
                    <label for="monday">Monday</label>

                    <input type="checkbox" id="tuesday" name="days" value="Tuesday">
                    <label for="tuesday">Tuesday</label>


                    <input type="checkbox" id="wednesday" name="days" value="Wednesday">
                    <label for="wednesday">Wednesday</label>

                    <input type="checkbox" id="sunday" name="days" value="Thursday">
                    <label for="thursday">Thursday</label>

                    <input type="checkbox" id="sunday" name="days" value="Friday">
                    <label for="friday">Friday</label>

                    <input type="checkbox" id="sunday" name="days" value="Saturday">
                    <label for="saturday">Saturday</label>
                </div>
                
                <button type="submit" class="btn">Submit <span class="fas fa-angle-double-right"></span></button>

            </form>
        </div>

    </section>

</body>

</html>